# For postgres docker container. The database will be created with that values in the postgres server inside the container.
POSTGRES_USER=<user of database>
POSTGRES_PASSWORD==<password of database>
POSTGRES_DB=<name of database>
# For config of nodejs application
dbtype=postgres
dbhost=<host of database(In local it will be localhost)>
dbport=5432
dbusername=<user of database>
dbpassword=<password of database>
dbdatabase=<name of database>
# For user session
jwt_secret=<secret token to sign the JWT>
jwt_expires_in=<time in seconds to expire the token>
# For offuscate the user email
app_domain=<domain of the application>
# to generate a final url for the service
app_base_url=<base url or your server>
# to upload the files to s3
aws_access_key_id=<ID of iam user>
aws_secret_access_key=<secret key of iam user>
aws_region=<region of bucket>
aws_bucket=<name of bucket>
